{% extends 'userBase.html' %}
{% block main %}
{% load static %}

<!-- Page Header Start -->
<div class="container-fluid page-header">
    <h1 class="display-3 text-uppercase text-white mb-3">About</h1>
    <div class="d-inline-flex text-white">
        <h6 class="text-uppercase m-0"><a class="text-white" href="{% url 'userindex' %}">Home</a></h6>
        <h6 class="text-body m-0 px-3">/</h6>
        <h6 class="text-uppercase text-body m-0">About</h6>
    </div>
</div>
<!-- Page Header Start -->


<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span
                class="text-primary">Car Rental Portal</span>
        </h1>
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <img class="w-75 mb-4" src="{% static 'img/about.png' %}" alt="">
                <p>A Car Rental Portal allows consumers to register and reserve automobiles online. The selected vehicle can be rented for a price and utilised for a specific length of time. Getting a rental
                    automobile makes it easier for people to travel around when they don't have access to their own vehicle or don't own one at all.
                    A person who needs transportation must call a rental car company and sign a contract. This method improves client retention
                    while also making car and employee management more straightforward</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Banner Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row mx-0">
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                    <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="{% static 'img/banner-left.png' %}"
                         alt="">
                    <div class="text-right">
                        <h3 class="text-uppercase text-light mb-3">Want to be driver?</h3>
                        <p class="mb-4">Never drive faster than your guardian angel can fly</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-0">
                <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                    <div class="text-left">
                        <h3 class="text-uppercase text-light mb-3">Looking for a car?</h3>
                        <p class="mb-4">Everything in life is somewhere else, and you get there in a car</p>
                    </div>
                    <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="{% static 'img/banner-right.png' %}"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->




{% endblock %}